extends layout

block content
    p
        table
            tr
                th Drone Name:
                td #{drone.name}
            tr
                th Last Seen:
                td #{drone.timestamp}
            tr
                th Last Session:
                td #{drone.session}
            tr
                th Last remote Adress:
                td #{drone.remoteAddress}
            tr
                th Private Command:
                td
                    form(name="command", action="/details", method="get")
                        input(type="hidden", name="name", value=drone.name)
                        input(type="text", name="command")
                        input(type="submit", value="Send")
            tr
                 th Job Done
                 th Job Source
            each job in drone.jobs
                tr
                    td #{job.done}
                    td #{job.src}
